<robot name="rover">
    <!--Main Body-->
    <gazebo reference="body">
        <material>Gazebo/Wood</material>
    </gazebo>
    <gazebo reference="left_rocker">
        <material>Gazebo/Gold</material>
    </gazebo>
    <gazebo reference="right_rocker">
        <material>Gazebo/Gold</material>
    </gazebo>

    <!--Motors-->
    <gazebo reference="fr_motor">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="fl_motor">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="br_motor">
        <material>Gazebo/Red</material>
    </gazebo>
    <gazebo reference="bl_motor">
        <material>Gazebo/Red</material>
    </gazebo>

    <!--Steering Component-->
    <gazebo reference="fr_steer">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="fl_steer">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="br_steer">
        <material>Gazebo/Orange</material>
    </gazebo>
    <gazebo reference="bl_steer">
        <material>Gazebo/Orange</material>
    </gazebo>
    
    <!--Servos-->
    <gazebo reference="fr_servo">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="fl_servo">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="br_servo">
        <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="bl_servo">
        <material>Gazebo/Black</material>
    </gazebo>

    <!--Tires & Wheels-->
    <gazebo reference="fr_whl"> 
        <material>Gazebo/Black</material>
        <mu1 value="1"/>
        <mu2 value="1"/>
    </gazebo>
    <gazebo reference="fl_whl">
        <material>Gazebo/Black</material>
        <mu1 value="1"/>
        <mu2 value="1"/>
    </gazebo>
    <gazebo reference="br_whl">
        <material>Gazebo/Black</material>
        <mu1 value="1"/>
        <mu2 value="1"/>
    </gazebo>
    <gazebo reference="bl_whl">
        <material>Gazebo/Black</material>
        <mu1 value="1"/>
        <mu2 value="1"/>
    </gazebo>

    <gazebo reference="l_rocker2body">
        <provideFeedback>true</provideFeedback>
        <implicitSpringDamper>true</implicitSpringDamper>
        <springStiffness>700.0</springStiffness>
        <springReference>0.0</springReference>
    </gazebo>

    <gazebo reference="r_rocker2body">
        <provideFeedback>true</provideFeedback>
        <implicitSpringDamper>true</implicitSpringDamper>
        <springStiffness>700.0</springStiffness>
        <springReference>0.0</springReference>
        <friction>0.75</friction>
    </gazebo>

    <!-- These are temporary just to stop them from flopping around -->
    <gazebo reference="rs_yaw">
        <provideFeedback>true</provideFeedback>
        <implicitSpringDamper>true</implicitSpringDamper>
        <springStiffness>700.0</springStiffness>
        <springReference>0.0</springReference>
        <friction>0.75</friction>
    </gazebo>

    <gazebo reference="rs_pitch">
        <provideFeedback>true</provideFeedback>
        <implicitSpringDamper>true</implicitSpringDamper>
        <springStiffness>700.0</springStiffness>
        <springReference>0.0</springReference>
        <friction>0.75</friction>
    </gazebo>
</robot>